@font-face {
  font-family: "Averta";
  src: url("../fonts/Averta.woff") format("woff");
}

@font-face {
  font-family: "AvertaRegular";
  src: url("../fonts/regular.woff2") format("woff2");
}

@font-face {
  font-family: "AvertaSemibold";
  src: url("../fonts/semibold.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Averta", sans-serif;
  font-size: 16px;
}

ul li {
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.left-content {
  width: 230px;
  height: 100vh;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 230px;
  min-height: 88px;
  background: #f3f5f6;
  width: calc(100% - 230px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 32px 0px 0px;
}

header .search {
  margin-left: 32px;
  width: 300px;
  background: #fff;
  height: 40px;
  border-radius: 24px;
  padding-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .search input {
  border: none;
  outline: none;
  width: 100%;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

header .search input::-webkit-input-placeholder {
  color: #8697a2;
  font-size: 16px;
}

header .search input:-ms-input-placeholder {
  color: #8697a2;
  font-size: 16px;
}

header .search input::-ms-input-placeholder {
  color: #8697a2;
  font-size: 16px;
}

header .search input::placeholder {
  color: #8697a2;
  font-size: 16px;
}

header .search svg {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

header .login-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .login-register .home-login {
  margin-right: 10px;
  color: #000;
}

header .login-register .home-signup {
  display: inline-block;
  min-height: 1.5rem;
  font-family: inherit;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 6.25rem;
  -webkit-transition: background-color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s;
  white-space: nowrap;
  color: white;
  background-color: #ff4f0f;
  font-size: 0.875rem;
  line-height: 2.25rem;
  height: 2.5rem;
  padding: 0px 1.25rem;
}

input[type="search"]::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
}

input[type="search"] {
  -webkit-appearance: searchfield;
     -moz-appearance: searchfield;
          appearance: searchfield;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right-content {
  width: calc(100% - 230px);
  margin-left: 230px;
  background-color: #f3f5f6;
  padding: 0px 32px;
}

.right-content .banner {
  height: 410px;
  background-color: #3e0d68;
}

.mrbt {
  margin-bottom: 30px;
}

.tt-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-game h3 {
  padding-top: 20px;
}

.content-game ul {
  padding: 1rem 0px;
  border-bottom: 1px solid #eaeef0;
}

.content-game ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

.content-game ul li .img-wrapper {
  margin-right: 0.75rem;
  background: #f7f7f7;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-game ul li .img-wrapper img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content-game ul li .img-wrapper img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.content-game ul li p {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content-game ul li p:hover {
  color: #ff4f0f;
  cursor: pointer;
}

.content-common-title {
  margin-bottom: 20px;
}

.content-common-title div {
  margin-right: 10px;
}

.trending .header-trending {
  margin-bottom: 20px;
}

.trending .header-trending div {
  margin-right: 10px;
}

.trending .slide-trending .swiper-button-next, .trending .slide-trending .swiper-button-prev {
  display: none;
}

.trending .slide-trending .name-game {
  color: #0f161f;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.trending .slide-trending .name-company {
  color: #8697a2;
  font-size: 0.625rem;
  line-height: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}

.trending .trending-title {
  font-size: 1.25rem;
  margin-right: 10px;
}

.live24h-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.live24h-content .live24h-content-item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  border-radius: 6px;
}

.live24h-content .live24h-content-item .live-img {
  width: 80px;
  height: 60px;
}

.live24h-content .live24h-content-item .live-title {
  padding: 10px 0px;
  margin-left: 16px;
}

.live24h-content .live24h-content-item .live-statis {
  padding: 10px;
}

.provider-slide .swiper-button-next, .provider-slide .swiper-button-prev {
  display: none;
}

.provider-slide .swiper-slide {
  background: #fff;
  padding: 16px;
  border: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials-slide .swiper-button-next, .testimonials-slide .swiper-button-prev {
  display: none;
}

.testimonials-slide .swiper-slide {
  position: relative;
  height: 100%;
  padding: 3.25rem 1.25rem 1.25rem;
  cursor: pointer;
  background: white none repeat scroll 0% 0%;
  border-radius: 0.5rem;
}

.testimonials-slide .swiper-slide::before {
  content: "";
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: rgba(0, 0, 0, 0) url("//cdn.coingaming.io/bitcasino/images/icons/quotes.svg") no-repeat scroll 0% 0%;
}

.testimonials-slide .swiper-slide .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  max-height: 3rem;
  margin: 0px 0px 0.75rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.testimonials-slide .swiper-slide .text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  overflow: hidden;
  max-height: 6.25rem;
  margin: 0px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #8697a2;
}

.h-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Login page */
.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login .left-container {
  width: 380px;
  padding: 16px 32px;
  height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
}

.login .login-title {
  color: #0f161f;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  padding: 20px 0px;
}

.login .right-container {
  background-color: #24033f;
  overflow: hidden;
  width: calc(100% - 380px);
  height: 100vh;
  position: fixed;
  right: 0px;
}

.login .right-container-wrapper {
  position: relative;
  height: 100%;
}

.login .right-container-wrapper .banner-bg {
  position: absolute;
  top: 0px;
  right: 0px;
}

.login .right-container-wrapper .banner-character {
  position: absolute;
  max-width: 50%;
  right: 0px;
  bottom: 0px;
}

.login .right-container-wrapper .side-banner-text {
  left: 15%;
  position: absolute;
  top: 50%;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.375;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24.5rem;
  max-width: 27rem;
}

.login .right-container-wrapper .side-banner-text h2 {
  margin: 0px;
  color: white;
}

.login .right-container-wrapper .side-banner-text p {
  font-size: 1rem;
  opacity: 0.6;
  max-width: 17.25rem;
  line-height: 1.5;
  margin: 1.5rem 0px 1.75rem;
  color: white;
}

.login .right-container-wrapper .side-banner-text div a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0px none;
  padding: 0px 1rem;
  outline: currentcolor none medium;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  font-weight: 500;
  cursor: pointer;
  min-width: 6rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  font-size: 0.875rem;
  background-color: #642e94;
  color: white;
  display: inline-block;
  text-align: center;
  line-height: 2.5rem;
}

.login .login-common {
  padding-bottom: 1.5rem;
  display: block;
}

.login .login-common label {
  padding: 10px 0px;
  display: block;
}

.login .checkbox-login {
  color: #8697a2;
  position: relative;
  padding-left: 30px;
}

.login .login-common input {
  overflow: hidden;
  width: 100%;
  height: 2.75rem;
  border-radius: 0.75rem;
  border: 0.0625rem solid #eaeef0;
  padding: 0px 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  outline: currentcolor none medium;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  color: #0f161f;
  background-color: #f3f5f6;
}

.login .login-common input:hover {
  border-color: #8697a2;
}

.login .btn-login {
  width: 100%;
  min-height: 1.5rem;
  font-family: inherit;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 6.25rem;
  -webkit-transition: background-color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s;
  white-space: nowrap;
  color: white;
  background-color: #ff4f0f;
  font-size: 0.875rem;
  line-height: 1.25rem;
  height: 2.5rem;
  padding: 0px 1.25rem;
  display: inline-block;
  position: relative;
}

.login .checkbox-login:before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0.0625rem;
  left: 0px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  background-color: #d8e0e3;
  border-radius: 6px;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-property: background-color, opacity, -webkit-transform;
  transition-property: background-color, opacity, -webkit-transform;
  transition-property: background-color, transform, opacity;
  transition-property: background-color, transform, opacity, -webkit-transform;
  will-change: transform, opacity;
}

.login .forgot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.login .forgot a {
  line-height: 1.25rem;
  color: #ff4f0f;
}

.login .forgot span {
  padding-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.58;
  color: #8697a2;
}

.footer-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 13.75rem 1fr auto;
      grid-template-columns: 13.75rem 1fr auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
      align-items: start;
  gap: 64px;
  padding: 40px 0px;
}

.footer-header .menu-footer {
  display: -ms-grid;
  display: grid;
  gap: 0.75rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
      align-items: start;
  grid-auto-flow: column;
}

.footer-header .title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #0f161f;
  margin-bottom: 20px;
}

.footer-header .about .text {
  margin: 0px;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #8697a2;
}

.footer-header ul a {
  margin: 0px;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #8697a2;
}

hr {
  display: block;
  border-width: 1px 0px 0px;
  border-color: #eaeef0;
  border-style: solid;
  width: 100%;
}

.footer-payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px;
}

.footer-payment img {
  width: 2.5rem;
  height: auto;
  margin: 0px 0.25rem 0.25rem 0px;
}

.footer-payment .payment-title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #0f161f;
  padding-bottom: 20px;
}

.footer-award .award-title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #0f161f;
  padding-bottom: 20px;
}

.footer-award img {
  display: inline-block;
  width: 7.5rem;
  margin: 0px 0.25rem 0.25rem 0px;
}

@media (max-width: 768px) {
  .login .right-container {
    display: none;
  }
  .login .left-container {
    width: 100% !important;
  }
  .signup .right-container {
    display: none;
  }
  .signup .left-container {
    width: 100% !important;
  }
}

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signup .left-container {
  width: 380px;
  padding: 16px 32px;
  height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
}

.signup .signup-title {
  color: #0f161f;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  padding: 20px 0px;
}

.signup .right-container {
  background-color: #24033f;
  overflow: hidden;
  width: calc(100% - 380px);
  height: 100vh;
  position: fixed;
  right: 0px;
}

.signup .right-container-wrapper {
  position: relative;
  height: 100%;
}

.signup .right-container-wrapper .banner-bg {
  position: absolute;
  top: 0px;
  right: 0px;
}

.signup .right-container-wrapper .banner-character {
  position: absolute;
  right: 0px;
  top: 50%;
  bottom: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.signup .right-container-wrapper .side-banner-text {
  left: 10%;
  position: absolute;
  top: 50%;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.375;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24.5rem;
  max-width: 27rem;
}

.signup .right-container-wrapper .side-banner-text h2 {
  margin: 0px;
  color: white;
  font-size: 3rem;
}

.signup .right-container-wrapper .side-banner-text p {
  font-size: 1rem;
  opacity: 0.6;
  max-width: 17.25rem;
  line-height: 1.5;
  margin: 1.5rem 0px 1.75rem;
  color: white;
}

.signup .right-container-wrapper .side-banner-text div a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0px none;
  padding: 0px 1rem;
  outline: currentcolor none medium;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  font-weight: 500;
  cursor: pointer;
  min-width: 6rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  font-size: 0.875rem;
  background-color: #642e94;
  color: white;
  display: inline-block;
  text-align: center;
  line-height: 2.5rem;
}

.signup .signup-common {
  padding-bottom: 10px;
  display: block;
}

.signup .signup-common label {
  padding: 10px 0px;
  display: block;
}

.signup .checkbox-signup {
  color: #8697a2;
  position: relative;
  padding-left: 30px;
}

.signup .signup-common input {
  overflow: hidden;
  width: 100%;
  height: 2.75rem;
  border-radius: 0.75rem;
  border: 0.0625rem solid #eaeef0;
  padding: 0px 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  outline: currentcolor none medium;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  color: #0f161f;
  background-color: #f3f5f6;
}

.signup .signup-common input:hover {
  border-color: #8697a2;
}

.signup .signup-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signup .signup-time .signup-day input {
  border-radius: 0;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.signup .signup-time .signup-month input {
  border-radius: 0;
}

.signup .signup-time .signup-year input {
  border-radius: 0;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.signup .btn-signup {
  cursor: not-allowed;
  opacity: 0.35;
  width: 100%;
  min-height: 1.5rem;
  font-family: inherit;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 6.25rem;
  -webkit-transition: background-color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s;
  white-space: nowrap;
  color: white;
  background-color: #ff4f0f;
  font-size: 0.875rem;
  line-height: 1.25rem;
  height: 2.5rem;
  padding: 0px 1.25rem;
  display: inline-block;
  position: relative;
}

.signup .checkbox-signup:before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0.0625rem;
  left: 0px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  background-color: #d8e0e3;
  border-radius: 6px;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-property: background-color, opacity, -webkit-transform;
  transition-property: background-color, opacity, -webkit-transform;
  transition-property: background-color, transform, opacity;
  transition-property: background-color, transform, opacity, -webkit-transform;
  will-change: transform, opacity;
}

.signup .forgot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.signup .forgot a {
  line-height: 1.25rem;
  color: #ff4f0f;
}

.signup .forgot span {
  padding-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.58;
  color: #8697a2;
}

.menu-mobile, .mobile-close {
  display: none;
}

.mobile-close span {
  background-color: #eaeef0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.left-content.activemenu {
  width: 100%;
  bottom: 0px;
  background: #f3f5f6;
  display: block;
  z-index: 100;
}

@media (max-width: 768px) {
  .menu-mobile, .mobile-close {
    display: block;
  }
  .mobile-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .left-content {
    display: none;
  }
  .left-content.activemenu .content-game {
    background: #fff;
    padding: 20px 10px;
    border-radius: 16px;
  }
  .right-content {
    width: 100%;
    margin-left: 0px;
    padding: 0px 16px;
  }
  header {
    width: 100%;
    left: 0;
    padding: 0px 16px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-header .menu-footer {
    grid-auto-flow: row;
  }
  .footer-header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 20px 0px;
  }
  .footer-payment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .live24h-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  header .search {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */