@mixin flex {
    display: flex;
}

@font-face {
    font-family: "Averta";
    src: url("../fonts/Averta.woff") format('woff');
}

@font-face {
    font-family: "AvertaRegular";
    src: url("../fonts/regular.woff2") format('woff2');
}

@font-face {
    font-family: "AvertaSemibold";
    src: url("../fonts/semibold.woff2") format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Averta", sans-serif;
    font-size: 16px;
}

ul li {
    text-decoration: none;
    list-style: none;
}
img{
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}

.left-content {
    width: 230px;

    height: 100vh;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

header {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 230px;
    min-height: 88px;
    background:#f3f5f6;
    width: calc(100% - 230px);
    display: flex;
    justify-content: space-between;
   
    align-items: center;
    padding: 0px 32px 0px 0px;
    .search {
        margin-left: 32px;
        width: 300px;
        background: #fff;
        height: 40px;
        border-radius: 24px;
        padding-left: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input{
            border: none;
            outline: none;
            width:100%;
            appearance: textfield;
            &::placeholder{
                color: rgb(134, 151, 162);
                font-size: 16px;
            }
        }
        svg{
            width: 20px;
            height: 20px;
            margin-right: 16px;
        }
    }
    .login-register{
        @include flex;
        align-items: center;
        .home-login{
            margin-right: 10px;
            color: #000;
        }
        .home-signup{
            display: inline-block;
            min-height: 1.5rem;
            font-family: inherit;
            font-weight: 500;
            text-decoration: none;
            cursor: pointer;
            border: 1px solid transparent;
            border-radius: 6.25rem;
            transition: background-color 0.2s ease 0s;
            white-space: nowrap;
            color: rgb(255, 255, 255);
            background-color: rgb(255, 79, 15);
            font-size: 0.875rem;
            line-height: 2.25rem;
            height: 2.5rem;
            padding: 0px 1.25rem;
        }
    }
}
input[type="search"]::-webkit-search-cancel-button {

    /* Remove default */
    -webkit-appearance: none;
}
input[type="search"] {
    appearance: searchfield;
    box-sizing: border-box;
}


.container {
    @include flex;
}

.right-content {
    width: calc(100% - 230px);
  
    margin-left: 230px;
    background-color: #f3f5f6;
    padding: 0px 32px;
    .banner{
        height: 410px;
        background-color:  rgb(62, 13, 104);
    }
}
.mrbt{
    margin-bottom: 30px;
}
.tt-flex{
    display: flex;

}
.content-game{
    h3{
        padding-top: 20px;
    }
    ul {
        padding: 1rem 0px;
        li{
            .img-wrapper{
                margin-right: 0.75rem;
                background: rgb(247, 247, 247);
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    // margin-right: 0.75rem;
                    transition: all 0.3s ease;
                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }
            
            p{
                transition: all 0.3s ease;
            }
            p:hover{
                color: rgb(255, 79, 15);
                cursor: pointer;
            }
            @include flex;
            align-items: center;
            padding-bottom: 1rem;
        }
        border-bottom: 1px solid  rgb(234, 238, 240);;
    }
}
.content-common-title{
    div{
        margin-right: 10px;
    }
     margin-bottom: 20px;
    
}

.trending {
    .header-trending{
        div{
            margin-right: 10px;
        }
         margin-bottom: 20px;
        
    }
    .slide-trending{
        .swiper-button-next,.swiper-button-prev{
            display: none;
        }
        .name-game{
            color: rgb(15, 22, 31);
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-weight: 500;
         }
         .name-company{
            color: rgb(134, 151, 162);
            font-size: 0.625rem;
            line-height: 1rem;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.0625rem;
         }
    }
    .trending-title{
        font-size: 1.25rem;
        margin-right: 10px;
    }
}
.live24h-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    .live24h-content-item{
        justify-content: space-between;
        background:#fff;
        .live-img{
            width: 80px;
            height: 60px;
        }
        .live-title{
            padding: 10px 0px;
            margin-left:16px;
        }
        .live-statis{
            padding:10px;
        }
        border-radius: 6px;
    }
}

// Porvider 
.provider-slide{
    .swiper-button-next,.swiper-button-prev{
        display: none;
    }
    .swiper-slide{
        background:#fff;
        padding: 16px;
        border: 8px;
        @include flex;
        justify-content: center;
    }
} 
.testimonials-slide{
    .swiper-button-next,.swiper-button-prev{
        display: none;
    }
    .swiper-slide{
            position: relative;
            height: 100%;
            padding: 3.25rem 1.25rem 1.25rem;
            cursor: pointer;
            background: rgb(255, 255, 255) none repeat scroll 0% 0%;
            border-radius: 0.5rem;     
        &::before {
            content: "";
            position: absolute;
            top: 1.25rem;
            left: 1.25rem;
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            background: rgba(0, 0, 0, 0) url("//cdn.coingaming.io/bitcasino/images/icons/quotes.svg") no-repeat scroll 0% 0%;
        }
       .title{
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -moz-box-orient: vertical;
            overflow: hidden;
            max-height: 3rem;
            margin: 0px 0px 0.75rem;
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 1.5rem;
       }
       .text{
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -moz-box-orient: vertical;
            overflow: hidden;
            max-height: 6.25rem;
            margin: 0px;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.25rem;
            color: rgb(134, 151, 162);
       }
    }
}
.h-flex{
    display: flex;
    flex-direction: column;
}
// Swiper
.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
  }
  
/* Login page */

.login {
    @include flex;
    .left-container {
        width: 380px;
        padding: 16px 32px;
        height: 100vh;
        overflow: auto;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: rgb(255, 255, 255);
    }
    .login-title {
        color: rgb(15, 22, 31);
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 500;
        padding: 20px 0px;
    }
    .right-container {
        background-color: rgb(36, 3, 63);
        overflow: hidden;
        width: calc(100% - 380px);
        height: 100vh;
        position: fixed;
        right: 0px;
        &-wrapper {
            position: relative;
            height: 100%;
            .banner-bg {
                position: absolute;
                top: 0px;
                right: 0px;
            }
            .banner-character {
                position: absolute;
                max-width: 50%;
                right: 0px;
                bottom: 0px;
            }
            .side-banner-text {
                left: 15%;
                position: absolute;
                top: 50%;
                font-size: 1.25rem;
                font-weight: 500;
                line-height: 1.375;
                transform: translateY(-50%);
                width: 24.5rem;
                max-width: 27rem;
                h2 {
                    margin: 0px;
                    color: rgb(255, 255, 255);
                }
                p {
                    font-size: 1rem;
                    opacity: 0.6;
                    max-width: 17.25rem;
                    line-height: 1.5;
                    margin: 1.5rem 0px 1.75rem;
                    color: rgb(255, 255, 255);
                }
                div {
                    a {
                        -moz-box-align: center;
                        align-items: center;
                        -moz-box-pack: center;
                        justify-content: center;
                        border: 0px none;
                        padding: 0px 1rem;
                        outline: currentcolor none medium;
                        user-select: none;
                        white-space: nowrap;
                        appearance: none;
                        transition: all 0.2s ease-in-out 0s;
                        font-weight: 500;
                        cursor: pointer;
                        min-width: 6rem;
                        height: 2.5rem;
                        border-radius: 2.5rem;
                        font-size: 0.875rem;
                        background-color: rgb(100, 46, 148);
                        color: rgb(255, 255, 255);
                        display: inline-block;
                        text-align: center;
                        line-height: 2.5rem;
                    }
                }
            }
        }
    }
    .login-common {
        padding-bottom: 1.5rem;
        display: block;
        label {
            padding: 10px 0px;
            display: block;
        }
    }
    .checkbox-login {
        color: rgb(134, 151, 162);
        position: relative;
        padding-left: 30px
    }
    .login-common input {
        overflow: hidden;
        width: 100%;
        height: 2.75rem;
        border-radius: 0.75rem;
        border: 0.0625rem solid rgb(234, 238, 240);
        padding: 0px 1rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        outline: currentcolor none medium;
        appearance: none;
        transition: all 0.2s ease-in-out 0s;
        color: rgb(15, 22, 31);
        background-color: rgb(243, 245, 246);
        &:hover {
            border-color: rgb(134, 151, 162);
        }
    }
    .btn-login {
        width: 100%;
        min-height: 1.5rem;
        font-family: inherit;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 6.25rem;
        transition: background-color 0.2s ease 0s;
        white-space: nowrap;
        color: rgb(255, 255, 255);
        background-color: rgb(255, 79, 15);
        font-size: 0.875rem;
        line-height: 1.25rem;
        height: 2.5rem;
        padding: 0px 1.25rem;
        display: inline-block;
        position: relative;
    }
    .checkbox-login:before {
        content: "";
        position: absolute;
        width: 1rem;
        height: 1rem;
        top: 0.0625rem;
        left: 0px;
        transition-duration: 0.2s;
        transition-timing-function: ease;
        background-color: rgb(216, 224, 227);
        border-radius: 6px;
        transform: none;
        transition-property: background-color, transform, opacity;
        will-change: transform, opacity;
    }
    .forgot {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        a {
            line-height: 1.25rem;
            color: rgb(255, 79, 15);
        }
        span {
            padding-top: 1rem;
            font-size: 0.875rem;
            line-height: 1.58;
            color: rgb(134, 151, 162);
        }
    }
}
// Footer
.footer-header{
    display: grid;
    grid-template-columns: 13.75rem 1fr auto;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    align-items: start;
    gap:64px;
    padding: 40px 0px;
    .menu-footer{
        display: grid;
        gap:0.75rem;
        -webkit-box-align: start;
        align-items: start;
        grid-auto-flow: column;
    }
    .title{
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        color: rgb(15, 22, 31);
        margin-bottom: 20px;
    }
    .about{
       
        .text{
            margin: 0px;
            font-size: 0.75rem;
            line-height: 1rem;
            color: rgb(134, 151, 162);
        }
       
    }
    ul a{
        margin: 0px;
        font-size: 0.75rem;
        line-height: 1rem;
        color: rgb(134, 151, 162);
    }
 
}
hr{
    display: block;
    border-width: 1px 0px 0px;
    border-color: rgb(234, 238, 240);
    border-style: solid;
    width: 100%;
}
.footer-payment{
    @include flex;
    justify-content: space-between;
    padding: 20px 0px;
    img{
        width: 2.5rem;
        height: auto;
        margin: 0px 0.25rem 0.25rem 0px;
    }
    .payment-title{
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        color: rgb(15, 22, 31);
        padding-bottom: 20px;
    }
}
.footer-award{
    .award-title{
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        color: rgb(15, 22, 31);
        padding-bottom: 20px;
    }
    img{
        display: inline-block;
        width: 7.5rem;
        margin: 0px 0.25rem 0.25rem 0px;
    }
}
@media(max-width: 768px) {
    .login {
        .right-container {
            display: none;
        }
        .left-container {
            width: 100% !important;
        }
    }
    .signup {
        .right-container {
            display: none;
        }
        .left-container {
            width: 100% !important;
        }
    }
}

// Sign up page

.signup {
    @include flex;
    .left-container {
        width: 380px;
        padding: 16px 32px;
        height: 100vh;
        overflow: auto;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: rgb(255, 255, 255);
    }
    .signup-title {
        color: rgb(15, 22, 31);
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 500;
        padding: 20px 0px;
    }
    .right-container {
        background-color: rgb(36, 3, 63);
        overflow: hidden;
        width: calc(100% - 380px);
        height: 100vh;
        position: fixed;
        right: 0px;
        &-wrapper {
            position: relative;
            height: 100%;
            .banner-bg {
                position: absolute;
                top: 0px;
                right: 0px;
            }
            .banner-character {
                position: absolute;
                right: 0px;
                top: 50%;
                bottom: 0px;
                transform: translateY(-50%);
            }
            .side-banner-text {
                left: 10%;
                position: absolute;
                top: 50%;
                font-size: 1.25rem;
                font-weight: 500;
                line-height: 1.375;
                transform: translateY(-50%);
                width: 24.5rem;
                max-width: 27rem;
                h2 {
                    margin: 0px;
                    color: rgb(255, 255, 255);
                    font-size: 3rem;
                }
                p {
                    font-size: 1rem;
                    opacity: 0.6;
                    max-width: 17.25rem;
                    line-height: 1.5;
                    margin: 1.5rem 0px 1.75rem;
                    color: rgb(255, 255, 255);
                }
                div {
                    a {
                        -moz-box-align: center;
                        align-items: center;
                        -moz-box-pack: center;
                        justify-content: center;
                        border: 0px none;
                        padding: 0px 1rem;
                        outline: currentcolor none medium;
                        user-select: none;
                        white-space: nowrap;
                        appearance: none;
                        transition: all 0.2s ease-in-out 0s;
                        font-weight: 500;
                        cursor: pointer;
                        min-width: 6rem;
                        height: 2.5rem;
                        border-radius: 2.5rem;
                        font-size: 0.875rem;
                        background-color: rgb(100, 46, 148);
                        color: rgb(255, 255, 255);
                        display: inline-block;
                        text-align: center;
                        line-height: 2.5rem;
                    }
                }
            }
        }
    }
    .signup-common {
        padding-bottom: 10px;
        display: block;
        label {
            padding: 10px 0px;
            display: block;
        }
    }
    .checkbox-signup {
        color: rgb(134, 151, 162);
        position: relative;
        padding-left: 30px
    }
    .signup-common input {
        overflow: hidden;
        width: 100%;
        height: 2.75rem;
        border-radius: 0.75rem;
        border: 0.0625rem solid rgb(234, 238, 240);
        padding: 0px 1rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        outline: currentcolor none medium;
        appearance: none;
        transition: all 0.2s ease-in-out 0s;
        color: rgb(15, 22, 31);
        background-color: rgb(243, 245, 246);
        &:hover {
            border-color: rgb(134, 151, 162);
        }
    }
    .signup-time{
        @include flex;
        .signup-day input{
            border-radius: 0;
            border-top-left-radius: 0.75rem;
            border-bottom-left-radius: 0.75rem;
            
        }
        .signup-month input{
            border-radius: 0;
        }
        .signup-year input{
            border-radius: 0;
            border-top-right-radius: 0.75rem;
            border-bottom-right-radius: 0.75rem;
        }
    }
    .btn-signup {
        cursor: not-allowed;
        opacity: 0.35;
        width: 100%;
        min-height: 1.5rem;
        font-family: inherit;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 6.25rem;
        transition: background-color 0.2s ease 0s;
        white-space: nowrap;
        color: rgb(255, 255, 255);
        background-color: rgb(255, 79, 15);
        font-size: 0.875rem;
        line-height: 1.25rem;
        height: 2.5rem;
        padding: 0px 1.25rem;
        display: inline-block;
        position: relative;
    }
    .checkbox-signup:before {
        content: "";
        position: absolute;
        width: 1rem;
        height: 1rem;
        top: 0.0625rem;
        left: 0px;
        transition-duration: 0.2s;
        transition-timing-function: ease;
        background-color: rgb(216, 224, 227);
        border-radius: 6px;
        transform: none;
        transition-property: background-color, transform, opacity;
        will-change: transform, opacity;
    }
    .forgot {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        a {
            line-height: 1.25rem;
            color: rgb(255, 79, 15);
        }
        span {
            padding-top: 1rem;
            font-size: 0.875rem;
            line-height: 1.58;
            color: rgb(134, 151, 162);
        }
    }
}
// style css menu 
.menu-mobile,.mobile-close{
    display: none;
}
.mobile-close span{
    background-color: rgb(234, 238, 240);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}   

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
  }
  .left-content.activemenu{
      width: 100%;
      bottom: 0px;
      background:rgb(243, 245, 246);
      display: block;
      z-index: 100;
  }
// Responsive trang chủ
@media(max-width: 768px){
    .menu-mobile,.mobile-close{
        display: block;
    }
    .mobile-close{
        display: flex;
        justify-content: flex-end;
    }
    .left-content{
        display: none;
      
    }
    .left-content.activemenu .content-game{
        background: #fff;
        padding: 20px 10px;
        border-radius: 16px;
    }
    .right-content{
        width: 100%;
        margin-left: 0px;
        padding: 0px 16px;
    }
    header{
        width: 100%;
        left: 0;
        padding: 0px 16px;
        justify-content: space-between;
    }
    .footer-header .menu-footer{
        grid-auto-flow: row;
    }
    .footer-header{
        grid-template-columns:1fr;
        padding: 20px 0px;
    }
    .footer-payment{
        flex-direction: column;
    }
    .live24h-content{
        grid-template-columns: 1fr;
    }
    header .search{
        display: none;
    }
}